.right {
    	float: right;
    	width: 0px;
    	border: 0px solid #73AD21;
    	padding: 0px;
    	}

/* Contact buttons styles */
.contact-buttons {
    text-align: center;
    margin-top: 20px;
}

.contact-buttons a.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.email {
    background-color: #007bff;
    color: white;
}

.github {
    background-color: #333;
    color: white;
}

.scholar {
    background-color: #34a853;
    color: white;
}

.contact-buttons a.button:hover {
    border-color: #ddd;
    color: white;
}

/* Responsive styles */
@media (max-width: 600px) {
    nav a {
        font-size: 40px; /* Increase font size */
        padding: 30px 40px; /* Increase padding */
        margin: 5px; /* Add space around the links */
        display: block; /* Stack the links instead of inline */
        text-align: center; /* Center-align the text */
    }
    
    /* Larger buttons for mobile */
    .button button {
        font-size: 40px; /* Increase button text size */
        padding: 30px 40px; /* Increase button padding */
    }
}

/* Address and icon styling */
i.fas.fa-map-marker-alt {
    margin-right: 8px;
}
